<h1 class="center">Des questions à nous poser?</h1>
<p class="center">N'hesitez pas à nous contacter</p>
<div class="container">
  <mat-card>
    <div class="row">
      <div class="col l6">
        <mat-form-field class="full-width">
          <input matInput placeholder="Prénom" formControlName="secondCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom" formControlName="secondCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <input matInput placeholder="Adresse" formControlName="secondCtrl" required>
        </mat-form-field>
      </div>
      <div class="col l6">
        <mat-form-field class="full-width">
          <input matInput placeholder="Objet" formControlName="secondCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Votre message"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="center">
      <button mat-raised-button color="primary">
        <span class="fa fa-send"></span> Envoyer mon message</button>
    </div>
  </mat-card>
</div>