.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

#connecter {
    margin-right: 10px;
}

.mat-toolbar-row {
    background: url(../../../assets/img/logo.png);
    background-size: 10%;
    height: 10vh;
    background-position: 0 4;
    background-repeat: no-repeat;
}

.mat-toolbar {
    background-color: #fff;
    z-index: 3;
}