<app-navbar isInAdmin='0'></app-navbar>
<div class="container">
  <h1>Conditions générales d'utilisation</h1>
  <p><strong>Taléta</strong>! est la première plate-forme tchadienne de mise en relation entre parents
    d’élèves et tuteurs pour des cours de soutien de scolaire à domicile.</p>
  <p><strong>Taléta</strong>! est située sur l’Avenue Maldoum Bada (Ex Avenue El Nymery), Immeuble BSIC, 2éme étage.</p>
  <p><strong>Pour les parents d’élève ou l’élève :</strong></p>
  <ul>
    <li><strong>Taléta</strong>! recrute, sélectionne et met en ligne les tuteurs. Les parents d’élèves ou élèves sont
      libres
      de choisir le tuteur correspondant à leurs attentes</li>
    <li>Les parents d’élève ne doivent en aucun cas payer directement les tuteurs, il n’y a aucune relation
      contractuelle
      direct entre parent d’élève et tuteur, <strong>Taléta</strong>! est le seul intermédiaire</li>
    <li>Les frais de cours devront être payés en intégralité par le parent d’élève avant le début des cours de soutien
      scolaire</li>
    <li>Les parents d’élèves peuvent payer directement sur le site par carte bleue ou Tigo Cash. Il est toujours
      possible de
      payer en especes dans les locaux de <strong>Taléta</strong>! située à l’Immeuble BSIC, Avenue Maldom Bada (Ex
      Avenue
      El
      Nymery);</li>
    <li><strong>Taléta</strong>! s’engage à fournir un tuteur de qualité pour un accompagnement de qualité aux élèves.
      Les
      parents d’élève doivent contacter <strong>Taléta</strong>! en cas de conflit ou de non-respect de l’engagement
      par le
      tuteur</li>
    <li>Un suivi sera établi par un membre de <strong>Taléta</strong>! afin de s’assurer de la bonne réalisation du
      service
      proposé selon la durée de la réservation (forfais mensuelles et trimestrielles notamment)</li>
    <li>En cas de non-respect de l’engagement par les parents d’élèves, les réservations en cours seront suspendus</li>
  </ul>
  <strong>Pour les tuteurs :</strong>
  <ul>
    <li><strong>Taléta</strong>! met à disposition une plateforme de partage de connaissance ;
      Les tuteurs sont rémunérés par <strong>Taléta</strong>! en fonction du nombre d’heures dispensés.</li>
    <li>Un accord d’exercice est signé par les deux parties avant la mise en ligne du profil du tuteur.</li>
    <li>Les informations recueillies par <strong>Taléta</strong>! sur le site internet et l’application sur les parents
      d’élèves, les élèves et les tuteurs ne seront en aucun cas utilisées à des fins commerciales.</li>
    <li>En cas de désaccord avec ces conditions ou de comportements inappropriés à l’égard d’un membre, <strong>Taléta</strong>!
      se réserve le droit d’interdire ou de restreindre l’accès au site.</li>
  </ul>
  <h2>Mentions légales</h2>
  <strong>Taléta</strong>! est un site hébergé par OVH SAS - RCS Roubaix – Tourcoing 424 761 419 00045 Siège social : 2
  rue Kellermann 59100 Roubaix - France
  <strong>Taléta</strong>! est une association à but non lucratif.
</div>
<app-footer></app-footer>
