.main {
    background: url('../../../assets/img/new-tuteur.jpg');
    background-size: cover;
    display: flex;
    padding-top: 5vh;
    justify-content: center;
    height: 85vh;
}

.mat-stepper-horizontal {
    font-family: "Brandon Light";
    height: 60vh;
}

.mat-horizontal-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}