<app-navbar></app-navbar>
<div class="main">
    <div class="center">
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Les missions d'un tuteur</ng-template>
                    <h1>Candidates pour devenir tuteur et rejoins la communauté Taleta</h1>
                    <p>Votre mission sera d'accompagner des collégiens et lycéens ayant besoin d'aide aux devoirs, de conseil
                        d'orientation ou de préparation aux examens.</p>
                    <p>Une fois votre candidature validée par l'Equipe
                        <strong>Taleta</strong>, vous pourrez créer votre profil, proposer les matières dans lesquelles vous aider,
                        fixer vos prix et gérer votre planning selon vos disponibilités.</p>
                    <br>
                    <h2>Alors? T'attends quoi?</h2>
                    <div>
                        <button mat-raised-button color="accent" matStepperNext>Déposer ma candidature</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Remplis les informations</ng-template>
                    <div class="container">
                        <div class="row">
                            <div class="col l6">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Nom" formControlName="secondCtrl" required>
                                </mat-form-field>
                            </div>
                            <div class="col l6">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Prénom" formControlName="secondCtrl" required>
                                </mat-form-field>
                            </div>
                            <div class="col l6">
                                <mat-form-field class="full-width">
                                    <input matInput [matDatepicker]="picker" placeholder="Date de naissance">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col l6">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Adresse E-mail" formControlName="secondCtrl" required>
                                </mat-form-field>
                            </div>
                            <div class="col l6">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Adresse du domicile" formControlName="secondCtrl" required>
                                </mat-form-field>
                            </div>
                            <div class="col l6">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Numéro de téléphone" formControlName="secondCtrl" required>
                                </mat-form-field>
                            </div>
                            <div class="col l6">
                                <app-location class="full-width"></app-location>
                            </div>
                            <div class="col l6">
                                <app-location class="full-width"></app-location>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Revoir les missions d'un tuteur</button>
                        <button mat-raised-button color="primary" matStepperNext>Valider ma candidature</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Terminer</ng-template>
                <h3>Merci pour votre candidature,</h3>
                <p>L'Equipe Taleta va maintenant procéder à l'examen de votre dossier et reviendra vers vous rapidement si votre
                    candidature est retenue.</p>
                <h2 class="light">L'Equipe Taleta</h2>
                <div>
                    <button mat-button routerLink="/home">Revenir à l'accueil</button>
                    <button mat-button (click)="stepper.reset()">Réiterer la candidature</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>