.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/media/user.jpg');
  background-size: cover;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px dashed #eee;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: -4px;
  margin-right: 4px;
}
