<app-navbar></app-navbar>
<div class="content">
  <mat-card>
    <h1 class="center">Renseignez votre e-mail</h1>
    <mat-form-field class="full-width">
      <input matInput placeholder="E-mail" type="email" [(ngModel)]="email">
    </mat-form-field>
    <div class="center button-container">
      <button mat-raised-button *ngIf="loaded" (click)="resetPassword()" [disabled]="email===undefined || email===''"
        color="accent">Réinitialiser le mot de passe</button>
      <mat-spinner *ngIf="!loaded" strokeWidth="2" diameter="35"></mat-spinner>
      <p><span class="fa fa-info-circle"></span> Nous vous avons enverrons un lien dans votre boîte email pour pouvoir
        récupérer votre mot de passe</p>
    </div>
    <br>
    <div class="sign">
      <p>Vous voulez vous connectez? <a href="" routerLink="/user-login">Cliquez ici</a></p>
    </div>
  </mat-card>
</div>
<app-footer></app-footer>
