<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div class="info row">
      <div class="col l4">
        <img src="../../../../assets/img/john.jpg" class="circle responsive-img" alt="">
      </div>
      <div class="col l8">
        <p>John Doe</p>
        <p>Administrator</p>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <app-tuteur-profile-header></app-tuteur-profile-header>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>