<section>
  <div class="container">
    <div class="center">
      <h1>Pourquoi TALETA?</h1>
      <h3>Nos valeurs</h3>
      <p>
        <strong>Taleta</strong> est née de notre volonté de répandre l’accès à l’accompagnement scolaire au Tchad, à Madagascar et
        plus généralement en Afrique.
      </p>
      <p>
        <strong>Taleta</strong> est la première plateforme africaine d’accompagnement scolaire pour les jeunes et par les jeunes.
        Des jeunes tuteurs, étudiants principalement, accompagneront les élèves des collèges et lycées ayant besoin d’un
        soutien scolaire.
      </p>
      <h3>Nos objectifs</h3>
      <p>En partant du constat que ce sont des personnes éduquées qui vont avoir un impact sur le secteur de la santé, de l’environnement,
        des nouvelles technologies, etc.,
        <strong>Taleta</strong> entend donner les clés de la connaissance à des futurs entrepreneurs talentueux qui s’ignorent aujourd’hui.
      </p>
      <p>Soucieux de créer une proximité entre les tuteurs et les tutorés,
        <strong>Taleta</strong> a fait le choix de collaborer avec des étudiants-tuteurs principalement. En plus du service de soutien
        scolaire, ces derniers partageront leurs expériences d’étudiants et pourront améliorer leurs conditions d’études
        avec ce job étudiant.
      </p>
    </div>
  </div>
</section>