<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <mat-card>
      <h1 class="center">Se connecter</h1>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Nom d'utilisateur">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Mot de passe">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <div class="center">
            <button mat-raised-button color="accent">Accéder à mon compte</button>
            <h3>ou</h3>
            <a href="" mat-raised-button color="primary" routerLink="/" routeLinkActive="true">Inscris-toi avec Facebook
              <span class="fa fa-facebook"></span>
            </a>
          </div>
        </form>
        <div class="footer-card">
          <div class="center">
            <br>
            <span>Tu n'es pas encore membre?</span>&nbsp;
            <a href="" routerLink="/tuteur-new" routeLinkActive="true">Inscris-toi gratuitement</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>