<div class="content">
  <div class="container">
    <h1 class="center" id="howitworks">Comment ça marche?</h1>
    <h2 class="center">Parent d'élève - Elève? Réservez pour apprendre</h2>
    <br>
    <div class="row center">
      <div class="col l4 m4 s12">
        <mat-card>
          <span class="fa fa-search main-icon"></span>
          <h3>Trouvez
          </h3>
          <p>Créez un compte et choisissez parmi les tuteurs proposés celui correspondant le plus à vos attentes</p>
        </mat-card>
      </div>
      <div class="col l4 m4 s12">
        <mat-card>
          <span class="fa fa-address-book main-icon"></span>
          <h3>Réservez
          </h3>
          <p>Réservez un créneau avec ce tuteur au lieu de votre choix et payez avec votre moyen de paiement habituel</p>
        </mat-card>
      </div>
      <div class="col l4 m4 s12">
        <mat-card>
          <span class="fa fa-check main-icon"></span>
          <h3>Profitez
          </h3>
          <p>Profitez du service et n’oubliez pas de lui laisser un avis après le cours !
          </p>
        </mat-card>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <h2 class="center">Tuteur ou futur Tuteur? Candidatez pour partager vos connaissances!</h2>
    <div class="row center">
      <div class="col l4 m4 s12">
        <mat-card>
          <span class="fa fa-address-card main-icon"></span>
          <h3>Candidatez
          </h3>
          <p>Candidatez pour être tuteur et passez les tests de validation pour être sélectionné.</p>
        </mat-card>
      </div>
      <div class="col l4 m4 s12">
        <mat-card>
          <span class="fa fa-pencil main-icon"></span>
          <h3>Gérez
          </h3>
          <p>Mettez à jour vos disponibilités et votre profil et attendez d’être choisi comme tuteur</p>
        </mat-card>
      </div>
      <div class="col l4 m4 s12">
        <mat-card>
          <span class="fa fa-check main-icon"></span>
          <h3>Dispensez
          </h3>
          <p>Dispensez le cours de soutien scolaire à l'élève en répondant au mieux à ses attentes
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
