example-card {
    max-width: 400px;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle,
.mat-card-title {
    margin-bottom: 10px;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}