<div class="content">
  <div class="container">
    <div class="row">
      <h1 class="center">Alors? Comment ça marche?</h1>
      <div class="col l5">
        <mat-card>
          Je créer un compte et je choisis parmi les tuteurs proposés celui correspondant le plus à mes attentes.
        </mat-card>
      </div>
      <div class="col l2">
        <div class="center">
          <div class="line">
            <div class="step">1</div>
          </div>
        </div>
      </div>
      <div class="col l5"></div>
    </div>
  </div>
</div>