<footer>
  <div class="footer">
    <div class="row">
      <div class="col l4 m6">
        <ul>
          <li>Taléta! est située sur l’Avenue Maldoum Bada (ex El-Niméry) , immeuble BSIC, 2éme étage, N’Djamena-Tchad</li>
          <li>Numéro Téléphone : 93 53 67 39</li>
          <li>Mail : contact@taleta.net</li>
        </ul>
      </div>
      <div class="col l4 m6 s12">
        <ul>
          <li><a href="#">Qui sommes-nous?</a></li>
          <li><a href="#howitworks">Comment ça marche</a></li>
          <li><a href="" routerLink="/cgu">CGU/Newsletter/Réseaux sociaux</a></li>
        </ul>
      </div>
      <div class="col l4 m6 s12">
        <div class="container">
          <div class="social-container">
            <span class="fa fa-facebook-official"></span>
            <span class="fa fa-skype"></span>
            <span class="fa fa-instagram"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
