<section>
  <div class="container">
    <h1 class="center">Notre équipe</h1>
    <div class="row">
      <div class="col l4">
        <app-tuteur-card name="John Doe" emploi="Etudiant en licence en Informatique" image="https://material.angular.io/assets/img/examples/shiba1.jpg"
          age="24"></app-tuteur-card>
      </div>
      <div class="col l4">
        <app-tuteur-card name="John Doe" emploi="Etudiant en licence en Informatique" image="https://material.angular.io/assets/img/examples/shiba1.jpg"
          age="24"></app-tuteur-card>
      </div>
      <div class="col l4">
        <app-tuteur-card name="John Doe" emploi="Etudiant en licence en Informatique" image="https://material.angular.io/assets/img/examples/shiba1.jpg"
          age="24"></app-tuteur-card>
      </div>
    </div>
  </div>
</section>