.container>.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  min-height: 80vh;
  padding: 3vh;
}

.content {
  background-color: #707477;
}
